.Register-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.col-1{
    flex-basis: 50%;
}


.col-img img{
    margin-left: 12px;
    width: 34vw;
}


.form{
    width: 470px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form h2{
    color: var(--main-color);
}
.form label{
    font-size: 1rem;
    margin-bottom: 12px;
}
.form input{
    color: rgb(253, 253, 253);
    margin-bottom: 29px;
    width: 75%;
    padding: 9px;
    border-radius: 9px;
    border: none;
    outline: none;
    background-color: var(--main-color);
}



.form input::placeholder{
    font-size: .8rem;
    color: whitesmoke;
    transition: ease .5s;
}


.form input:focus::placeholder{
    transition: ease .5s;
    font-size: .6rem;
}


.form p{
    margin-top: 15px;
    font-size: .9rem;
}

.form p span{
    cursor: pointer;
}

@media screen and (max-width:670px) {
    .Register-container{
        flex-wrap: wrap;
    }
    .col-1{
        width: 100%;
        flex-basis: 100%;
    }

    .form{
        margin-top: 23px;
        width: 100%;
    }

    .col-img{
        margin: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .col-img img{
        width: 54vw;
    }


    .form label{
        font-size: .7rem;
    }
}